Tema4Net/Tema4MvcApp/Service References/AdminService/AdminService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddPackage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="receiver" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senderCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="destinationCity" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPackageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddPackageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemovePackage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="packageId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemovePackageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemovePackageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TrackPackage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="packageId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="time" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TrackPackageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TrackPackageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePackageStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="packageId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="time" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePackageStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdatePackageStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPackages">
        <s:complexType />
      </s:element>
      <s:element name="GetAllPackagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPackagesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllUserNames">
        <s:complexType />
      </s:element>
      <s:element name="GetAllUserNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllUserNamesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddPackageSoapIn">
    <wsdl:part name="parameters" element="tns:AddPackage" />
  </wsdl:message>
  <wsdl:message name="AddPackageSoapOut">
    <wsdl:part name="parameters" element="tns:AddPackageResponse" />
  </wsdl:message>
  <wsdl:message name="RemovePackageSoapIn">
    <wsdl:part name="parameters" element="tns:RemovePackage" />
  </wsdl:message>
  <wsdl:message name="RemovePackageSoapOut">
    <wsdl:part name="parameters" element="tns:RemovePackageResponse" />
  </wsdl:message>
  <wsdl:message name="TrackPackageSoapIn">
    <wsdl:part name="parameters" element="tns:TrackPackage" />
  </wsdl:message>
  <wsdl:message name="TrackPackageSoapOut">
    <wsdl:part name="parameters" element="tns:TrackPackageResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePackageStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePackageStatus" />
  </wsdl:message>
  <wsdl:message name="UpdatePackageStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePackageStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPackagesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPackages" />
  </wsdl:message>
  <wsdl:message name="GetAllPackagesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPackagesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllUserNamesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllUserNames" />
  </wsdl:message>
  <wsdl:message name="GetAllUserNamesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllUserNamesResponse" />
  </wsdl:message>
  <wsdl:portType name="AdminServiceSoap">
    <wsdl:operation name="AddPackage">
      <wsdl:input message="tns:AddPackageSoapIn" />
      <wsdl:output message="tns:AddPackageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemovePackage">
      <wsdl:input message="tns:RemovePackageSoapIn" />
      <wsdl:output message="tns:RemovePackageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TrackPackage">
      <wsdl:input message="tns:TrackPackageSoapIn" />
      <wsdl:output message="tns:TrackPackageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePackageStatus">
      <wsdl:input message="tns:UpdatePackageStatusSoapIn" />
      <wsdl:output message="tns:UpdatePackageStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPackages">
      <wsdl:input message="tns:GetAllPackagesSoapIn" />
      <wsdl:output message="tns:GetAllPackagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserNames">
      <wsdl:input message="tns:GetAllUserNamesSoapIn" />
      <wsdl:output message="tns:GetAllUserNamesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminServiceSoap" type="tns:AdminServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPackage">
      <soap:operation soapAction="http://tempuri.org/AddPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePackage">
      <soap:operation soapAction="http://tempuri.org/RemovePackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrackPackage">
      <soap:operation soapAction="http://tempuri.org/TrackPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePackageStatus">
      <soap:operation soapAction="http://tempuri.org/UpdatePackageStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPackages">
      <soap:operation soapAction="http://tempuri.org/GetAllPackages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserNames">
      <soap:operation soapAction="http://tempuri.org/GetAllUserNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminServiceSoap12" type="tns:AdminServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPackage">
      <soap12:operation soapAction="http://tempuri.org/AddPackage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePackage">
      <soap12:operation soapAction="http://tempuri.org/RemovePackage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrackPackage">
      <soap12:operation soapAction="http://tempuri.org/TrackPackage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePackageStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdatePackageStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPackages">
      <soap12:operation soapAction="http://tempuri.org/GetAllPackages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserNames">
      <soap12:operation soapAction="http://tempuri.org/GetAllUserNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="AdminServiceSoap" binding="tns:AdminServiceSoap">
      <soap:address location="http://localhost:53592/AdminService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminServiceSoap12" binding="tns:AdminServiceSoap12">
      <soap12:address location="http://localhost:53592/AdminService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>