Tema4Net/Tema4MvcApp/Service References/PackageWebService/PackageWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://webservice/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="PackageWS" targetNamespace="http://webservice/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/Tema4Java/PackageWS?xsd=1" namespace="http://webservice/" />
    </xsd:schema>
  </types>
  <message name="search">
    <part name="parameters" element="tns:search" />
  </message>
  <message name="searchResponse">
    <part name="parameters" element="tns:searchResponse" />
  </message>
  <message name="verifyStatus">
    <part name="parameters" element="tns:verifyStatus" />
  </message>
  <message name="verifyStatusResponse">
    <part name="parameters" element="tns:verifyStatusResponse" />
  </message>
  <message name="getClientPackage">
    <part name="parameters" element="tns:getClientPackage" />
  </message>
  <message name="getClientPackageResponse">
    <part name="parameters" element="tns:getClientPackageResponse" />
  </message>
  <message name="getClientNameById">
    <part name="parameters" element="tns:getClientNameById" />
  </message>
  <message name="getClientNameByIdResponse">
    <part name="parameters" element="tns:getClientNameByIdResponse" />
  </message>
  <message name="getPackageNameById">
    <part name="parameters" element="tns:getPackageNameById" />
  </message>
  <message name="getPackageNameByIdResponse">
    <part name="parameters" element="tns:getPackageNameByIdResponse" />
  </message>
  <portType name="PackageWS">
    <operation name="search">
      <input wsam:Action="http://webservice/PackageWS/searchRequest" message="tns:search" />
      <output wsam:Action="http://webservice/PackageWS/searchResponse" message="tns:searchResponse" />
    </operation>
    <operation name="verifyStatus">
      <input wsam:Action="http://webservice/PackageWS/verifyStatusRequest" message="tns:verifyStatus" />
      <output wsam:Action="http://webservice/PackageWS/verifyStatusResponse" message="tns:verifyStatusResponse" />
    </operation>
    <operation name="getClientPackage">
      <input wsam:Action="http://webservice/PackageWS/getClientPackageRequest" message="tns:getClientPackage" />
      <output wsam:Action="http://webservice/PackageWS/getClientPackageResponse" message="tns:getClientPackageResponse" />
    </operation>
    <operation name="getClientNameById">
      <input wsam:Action="http://webservice/PackageWS/getClientNameByIdRequest" message="tns:getClientNameById" />
      <output wsam:Action="http://webservice/PackageWS/getClientNameByIdResponse" message="tns:getClientNameByIdResponse" />
    </operation>
    <operation name="getPackageNameById">
      <input wsam:Action="http://webservice/PackageWS/getPackageNameByIdRequest" message="tns:getPackageNameById" />
      <output wsam:Action="http://webservice/PackageWS/getPackageNameByIdResponse" message="tns:getPackageNameByIdResponse" />
    </operation>
  </portType>
  <binding name="PackageWSPortBinding" type="tns:PackageWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="search">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="verifyStatus">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getClientPackage">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getClientNameById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getPackageNameById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PackageWS">
    <port name="PackageWSPort" binding="tns:PackageWSPortBinding">
      <soap:address location="http://localhost:8080/Tema4Java/PackageWS" />
    </port>
  </service>
</definitions>